* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-action {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.button-action::before {
  content: "Pasa por encima";
}

.button-action:hover::before {
  /* background: green; */
  content: none;
}

.button-action:hover {
  background-color: green;
}

.button-action:hover::after {
  /* background: green; */
  color: white;
  content: "¡Hecho!";
}
