/*Estilos para colores*/
.colores {
  color: orange;
}

.color-hexadecimal {
  color: #EF767A;
}

.color-rgb {
  color: rgb(150, 20, 145)
}

.color-rgba {
  color: rgba(71, 191, 143, 0.578);
}

/*Fondos*/
.fondo {
  /* background-color: cornflowerblue; */
  background-image: url("https://asset.gecdesigns.com/img/backgrounds/modern-crystal-abstract-background-template-1612247149783-cover.webp");
  background-position: center center;
}

.fondo-local {
  background-image: url("/03-Multimedia/img/background.jpg");
  background-position: left center;
}

/* Tamaños */
.ancho {
  background-color: #456990;
  width: 100px;
}

.alto {
  background-color: #49DCB1;
  height: 200px;
}

.card {
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  /* border-top: none; */
  padding: 10px 20px;
  margin: 10px 20px;
}
