body {
  padding: 20px;
  margin: 0;
}

.escenario {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}

.escenario-1 {
  width: 100%;
}

.escenario-2 {
  width: 50%;
}

.px {
  background-color: green;
  width: 200px;
}

.porcentaje {
  /*Porcentaje en relación al elemento padre*/
  background-color: red;
  width: 50%;
}

.view {
  /*De acuerdo al ancho de la pantalla view width*/
  background-color: yellow;
  width: 50vw;

}
